**

!package.json
!bun.lock
!README.md
!index.html
!site.ts
!tsconfig.json
!tsconfig.build.json
!typedoc.json
!vite.config.lib.ts
!vite.config.site.ts

!example/
!example/**
!public/
!public/**
!src/
!src/**
!types/
!types/**

!nginx/
!nginx/default.conf
!nginx/app.conf.template
!scripts/
!scripts/generate-nginx-config.sh
